body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(129, 213, 224) 0%, rgb(67, 65, 203) 100%);

}

button {
  cursor: pointer;
}
